.center {
  text-align: center;
  border: 1px;
}

.container {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  border-style:dashed;
  background-color: blanchedalmond;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
  border-style: double;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
  text-align: center;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
  text-align: center;
}

a {
  text-decoration: none;
  color: #252525;
  border-color: crimson;
  border-radius: 75%;
}

.nav{
  border-style: ridge;
  text-align: right;
  background-color: cadetblue;

}

.active{
  border-style: double;
  text-align: center;
}

.info{
  border-style: groove;
  width: max-content;
  color: brown;
}

.tabs{
  text-align: center;
}



